.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  font-weight: 500;
  margin-bottom: 3px;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__body {
  flex: 1;
  background-position: center;
  overflow: scroll;
  padding: 30px;
}

.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}

.chat__receiver{
    margin-left: auto;
    background-color: #dcf8cf;
}

.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;

}